.colet_img{
    width: 100%;
    margin: 30px  0;
}

.despre_noi{
    margin: 20px 0;
}
.abaut_content{
    margin: 5% 9%;
    height: 100%;
}
h4{
    margin:30px 0;
}
.h4{
    color: rgb(50, 50, 131);
}
.container_paragraf{
    margin-top: 40px;
}